<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title GULP
  body
    h1 Hola mundo desde PUG
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non id optio alias sequi minus praesentium molestias corrupti facere quo laboriosam, doloremque hic iure, odit soluta culpa error, deleniti tempore odio.